<div class="content">
  <h1 class="page-title"><%= @vendor['name'] %></h1>
  <h3>Contact Info:</h3>
  <p>Name: <%= @vendor['contact_name'] %></p>
  <p>Phone: <%= @vendor['contact_phone'] %></p>
  <br>
  <p>Accepts Credit: <%= @vendor['accepts_credit'] ? 'Yes' : 'No' %></p>
</br>
<p>Description: <%= @vendor['description'] %></p>
